<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>recommend.png</string>
            <key>size</key>
            <string>{210,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2070d0de25dceaf82d4a78a6c662ee3:4a1c89702c48e76a318dc659c0ca136e:d817a51cb16a6df65bab18423960bfec$</string>
            <key>textureFileName</key>
            <string>recommend.png</string>
        </dict>
    </dict>
</plist>
