<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpyx_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,56}</string>
                <key>spriteSourceSize</key>
                <string>{162,56}</string>
                <key>textureRect</key>
                <string>{{764,134},{162,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{793,192},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_jrzjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,36}</string>
                <key>spriteSourceSize</key>
                <string>{178,36}</string>
                <key>textureRect</key>
                <string>{{1,192},{178,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_jrzjb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,36}</string>
                <key>spriteSourceSize</key>
                <string>{178,36}</string>
                <key>textureRect</key>
                <string>{{181,192},{178,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,68}</string>
                <key>spriteSourceSize</key>
                <string>{762,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{762,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_nc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{739,192},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_paih.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,27}</string>
                <key>spriteSourceSize</key>
                <string>{54,27}</string>
                <key>textureRect</key>
                <string>{{683,192},{54,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_ph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,29}</string>
                <key>spriteSourceSize</key>
                <string>{119,29}</string>
                <key>textureRect</key>
                <string>{{765,1},{119,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_ph1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{886,1},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_ph2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,52}</string>
                <key>spriteSourceSize</key>
                <string>{37,52}</string>
                <key>textureRect</key>
                <string>{{887,55},{37,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_ph3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{848,61},{37,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_tqb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,36}</string>
                <key>textureRect</key>
                <string>{{361,192},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_tqb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,36}</string>
                <key>textureRect</key>
                <string>{{469,192},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_tqje.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,27}</string>
                <key>spriteSourceSize</key>
                <string>{104,27}</string>
                <key>textureRect</key>
                <string>{{577,192},{104,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_wdpm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,59}</string>
                <key>spriteSourceSize</key>
                <string>{78,59}</string>
                <key>textureRect</key>
                <string>{{768,61},{78,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_phb_yqje.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,27}</string>
                <key>spriteSourceSize</key>
                <string>{104,27}</string>
                <key>textureRect</key>
                <string>{{765,32},{104,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,61}</string>
                <key>spriteSourceSize</key>
                <string>{765,61}</string>
                <key>textureRect</key>
                <string>{{1,71},{765,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,56}</string>
                <key>spriteSourceSize</key>
                <string>{761,56}</string>
                <key>textureRect</key>
                <string>{{1,134},{761,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{927,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59414e0df57502c8e40ca5abce8e4d50:52430b80c21ef866be56f348c140b851:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
