<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,50}</string>
                <key>spriteSourceSize</key>
                <string>{123,50}</string>
                <key>textureRect</key>
                <string>{{923,321},{123,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_an_djfzfx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,53}</string>
                <key>spriteSourceSize</key>
                <string>{170,53}</string>
                <key>textureRect</key>
                <string>{{549,449},{170,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_an_lqjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,59}</string>
                <key>spriteSourceSize</key>
                <string>{146,59}</string>
                <key>textureRect</key>
                <string>{{408,500},{146,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_an_sjwzszh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,56}</string>
                <key>spriteSourceSize</key>
                <string>{169,56}</string>
                <key>textureRect</key>
                <string>{{721,452},{169,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_an_sywzszh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{764,197},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_an_tqyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,134}</string>
                <key>spriteSourceSize</key>
                <string>{127,134}</string>
                <key>textureRect</key>
                <string>{{279,503},{127,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_an_yxbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,61}</string>
                <key>spriteSourceSize</key>
                <string>{148,61}</string>
                <key>textureRect</key>
                <string>{{545,504},{148,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,55}</string>
                <key>spriteSourceSize</key>
                <string>{217,55}</string>
                <key>textureRect</key>
                <string>{{688,289},{217,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_djyl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,30}</string>
                <key>textureRect</key>
                <string>{{907,289},{106,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_ktqyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,30}</string>
                <key>spriteSourceSize</key>
                <string>{140,30}</string>
                <key>textureRect</key>
                <string>{{636,615},{140,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_lszyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,30}</string>
                <key>spriteSourceSize</key>
                <string>{139,30}</string>
                <key>textureRect</key>
                <string>{{778,615},{139,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,104}</string>
                <key>spriteSourceSize</key>
                <string>{766,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{766,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,49}</string>
                <key>spriteSourceSize</key>
                <string>{546,49}</string>
                <key>textureRect</key>
                <string>{{1,449},{546,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,61}</string>
                <key>spriteSourceSize</key>
                <string>{765,61}</string>
                <key>textureRect</key>
                <string>{{1,107},{765,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_mb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,56}</string>
                <key>spriteSourceSize</key>
                <string>{761,56}</string>
                <key>textureRect</key>
                <string>{{1,170},{761,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_nc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{735,228},{52,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_tgjc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{469,500},{142,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_tgjc_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,35}</string>
                <key>spriteSourceSize</key>
                <string>{142,35}</string>
                <key>textureRect</key>
                <string>{{695,540},{142,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_tgmx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{507,500},{142,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_tgmx_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{636,577},{142,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_txk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,80}</string>
                <key>spriteSourceSize</key>
                <string>{89,80}</string>
                <key>textureRect</key>
                <string>{{545,567},{89,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,23}</string>
                <key>textureRect</key>
                <string>{{850,510},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_wdtg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{975,321},{142,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_wdtg_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{780,577},{142,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_zgxyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,27}</string>
                <key>spriteSourceSize</key>
                <string>{129,27}</string>
                <key>textureRect</key>
                <string>{{923,446},{129,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpyx_qmtg_zhdlsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,28}</string>
                <key>spriteSourceSize</key>
                <string>{153,28}</string>
                <key>textureRect</key>
                <string>{{695,510},{153,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpyx_qmtg_zshy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,27}</string>
                <key>spriteSourceSize</key>
                <string>{132,27}</string>
                <key>textureRect</key>
                <string>{{952,465},{132,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lqjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,51}</string>
                <key>spriteSourceSize</key>
                <string>{199,51}</string>
                <key>textureRect</key>
                <string>{{722,346},{199,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lqjl_mb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,49}</string>
                <key>spriteSourceSize</key>
                <string>{719,49}</string>
                <key>textureRect</key>
                <string>{{1,350},{719,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lqjl_mb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,46}</string>
                <key>spriteSourceSize</key>
                <string>{717,46}</string>
                <key>textureRect</key>
                <string>{{1,401},{717,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lqjl_tqje.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,29}</string>
                <key>spriteSourceSize</key>
                <string>{112,29}</string>
                <key>textureRect</key>
                <string>{{162,614},{112,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lqjl_tqsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,29}</string>
                <key>spriteSourceSize</key>
                <string>{111,29}</string>
                <key>textureRect</key>
                <string>{{892,452},{111,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qmtg_fx_bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,95}</string>
                <key>spriteSourceSize</key>
                <string>{241,95}</string>
                <key>textureRect</key>
                <string>{{769,1},{241,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tg_ljlq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,109}</string>
                <key>spriteSourceSize</key>
                <string>{276,109}</string>
                <key>textureRect</key>
                <string>{{1,503},{276,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,51}</string>
                <key>spriteSourceSize</key>
                <string>{198,51}</string>
                <key>textureRect</key>
                <string>{{722,399},{198,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj_an_qrzc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,97}</string>
                <key>spriteSourceSize</key>
                <string>{238,97}</string>
                <key>textureRect</key>
                <string>{{769,98},{238,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj_fgx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,1}</string>
                <key>spriteSourceSize</key>
                <string>{391,1}</string>
                <key>textureRect</key>
                <string>{{1,500},{391,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj_fgx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,104}</string>
                <key>spriteSourceSize</key>
                <string>{1,104}</string>
                <key>textureRect</key>
                <string>{{1,645},{1,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tqyj_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{981,573},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tqyj_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{688,228},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj_mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,120}</string>
                <key>spriteSourceSize</key>
                <string>{685,120}</string>
                <key>textureRect</key>
                <string>{{1,228},{685,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tqyj_qbzc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,30}</string>
                <key>textureRect</key>
                <string>{{981,465},{106,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tqyj_zcyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,29}</string>
                <key>spriteSourceSize</key>
                <string>{159,29}</string>
                <key>textureRect</key>
                <string>{{1,614},{159,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popularize.png</string>
            <key>size</key>
            <string>{1015,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596197b0848d9605a2ced16449d67f6d:14f4bb3792f365fd9237d76749d691f9:ec0f446344dec761826160cc2e9a11a3$</string>
            <key>textureFileName</key>
            <string>popularize.png</string>
        </dict>
    </dict>
</plist>
