<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lobby-mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>39854E3D3520BD6C904E12C83B7C0492E03AF273</string>
				<key>dateExpires</key>
				<string>2020/6/3</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5J2Z5ZGAMM.com.jp.lobby</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5J2Z5ZGAMM</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5J2Z5ZGAMM.com.jp.lobby</string>
				</array>
			</dict>
			<key>name</key>
			<string>lobby-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>542e7c32-2ff5-4d43-9987-d05172737d8e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.jp.lobby</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5J2Z5ZGAMM</string>
				<key>name</key>
				<string>Xinyue Meng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
