{
	/**
	* 应用名称
	*/
	"applicationName": "Untiled App",
	/**
	* 工程类型，可用类型：rigger, serice, plugin
	*/
	"projectType": "rigger",
	/**
	* 发布服务时，服务源码所在根目录
	*/
	"srcRoot": "./src",
		/**
	*	库路径，因为GULP会读取此字段中配置的流，所以形式应如：
	* 	libPathes:["./libs/*.ts"]
	*/
	"libPathes": [],
		/**
	* 包含路径
	* 发布时 gulp会拷贝些路径下的文件到发布项目目录, 形式如下：
	* ["./libs/*.ts"]
	*/
	"includingPathes": [],
	/**
	* Rigger 定义文件需要发布到的路径
	* 某些情况下可能需要将Rigger的定义文件发布到指定目录以便某些引擎进行编译
	*/
	"dtsPathes": [],
		/**
	* 输出目录根路径
	*/
	"outRoot": "./dist",
	/**
	* 构建项目时，服务执行文件的目标位置
	*/
	"binRoot": "./bin",
		/**
	* 构建项目时，配置的构建目录
	*/
	"configBuildRoot": "",
		// 自定义服务的根路径
	"customServicesRoot": [],
		/**
	* 应用需要启动的服务
	*/
	"services": [
		// ServiceConfig 
		[]
	],
		// 应用依赖的包
	"packages": [],
	/*依赖的库
	*/
	"deps": []
}